.fullvp {
	height: 100vh;
	width: 100vw;
}
.nav_brand {
	color: rgb(176, 229, 124);
	background-color: transparent;
}
.landing {
  background: url(../images/a.jpg) no-repeat center center fixed;
  text-align: center;
/*  display: block;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        position: absolute;
  height: 100vh;
  width: 100vw;
top:0;
bottom:0;
right:0;
left:0;
}